input[type=range]{
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -9px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  height: 100%;
}

html {
  background: #222;
}

.slider {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
